In [9]:
import camelot
import pandas as pd

In [10]:
file_input = '062421.pdf'
pdf_file = camelot.read_pdf(file_input)

In [11]:
type(pdf_file)

camelot.core.TableList

In [12]:
pdf_file

In [13]:
pdf_file[0]

In [14]:
first_table = pdf_file[0]
first_table.df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,E-mini S&P 500 (ES) Open Interest & Volume Hea...,,,,,,,,,,,,,,,,
1,,,,,,,,,,,,,,,,,
2,,,,,,,,,,,,,,,,,
3,,E-MINI S&P 500 (ES) OPEN INTEREST\nAS OF 6/24/...,,,,,,,,,,,,,,,
4,,,ESU1\n \n85 DTE\n \n4260.00,,,,,,ESZ1\n \n176 DTE\n \n4251.25,,ESH2\n \n267 DTE\n \n4245.00,,ESM2\n \n358 DTE\n \n4200.00,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,,3260,,252,,272,1,273,,,,,,,3260,,
73,,,,,,,,,,,,,,,,,
74,,CALL\nPUT\nCALL\nPUT\nCALL\nPUT\nCALL\nPUT\nCA...,,,,,,,,,,,,,,,
75,,ESU1\nESZ1\nESH2\nESM2\n \n \n \n \n85 DTE\n17...,,,,,,,,,,,,,,,
76,,LOW ...,,,,,,,,,,,,,,,

In [8]:
#first_table.to_excel("final.xlsx", index =False)

In [17]:
import os

file_basename = os.path.basename(file_input)
file_basename

'062421.pdf'

In [18]:
basename_without_ext = os.path.splitext(os.path.basename(file_input))[0]
basename_without_ext

'062421'

In [22]:

filename_output = 'converted_'+ basename_without_ext + '.xlsx'
first_table.to_excel(filename_output, index = False, sheet_name='Sheet2')